@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode ter um por página)
    em HTML é class = em CSS é . (pode ter vários por página)
*/
body {
    background-color: #9bdacd;
    font-family: Arial, Helvetica, sans-serif;    
}

h1 {
    color: #286e5f;
}

h1#principal {
    text-align: center;
    background-color: #024536;
    color: white;
}

h2 {
    color: #013429;
}

.basico {
    color: #3c805e;
}

.intermediario {
    color: #80793c
}

.avancado {
    color: #803c3c;
}

.destaque {
    background-color: #c5c56070;
}

p{
    text-align: center;
}