  @charset "UTF-8";
  
  body{
            background-color: rgb(246, 233, 166);
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
        h1{
            color: rgb(10, 10, 10);
            text-decoration: underline;
            font-size: 25px;
            background-color: white;
        }rgb(10, 10, 195);
            font-size: 20px;
        }
        p{
            text-align
        h2{
            color: : justify;
            color: black;
            text-align: center;
            font-size: 15px;
        }