@charset "UTF-8";

.um{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;   
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(185, 198, 130);
    text-align: center;
    font-style: italic;
    margin-bottom: auto;
    margin: 5px;
    padding: 5px;
}
.dois{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;   
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(127, 193, 134);
    text-align: center;
    font-style: italic;
    margin-bottom: auto;
    margin: 5px;
    padding: 5px;
}
.tres{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;   
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(210, 133, 133);
    text-align: center;
    font-style: italic;
    margin-bottom: auto;
    margin: 5px;
    padding: 5px;
}
h1{
    font-size: 25px;
    text-decoration: underline;
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
}

h3{
    font-size: 25px;
    text-decoration: underline;
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
}

p{
    text-align: left;
    color: black;
}

body{
    margin: 20px;
    padding: 20px;
    background-color: black;
}

img{
    display: change;
    width: 300px;
    height: auto;
    margin: 20px;
    padding: 20px;
    border: 10px solid rgb(0, 250, 17);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);    
}